nav ul li{

  text-align: center;
  list-style: none;
  display: inline-block;
  font-size: 17px;
  margin-top: 1px;
  margin-right: 0px;
  margin-left: 50px;
  cursor: pointer;
  text-transform: none;
  margin:30px ;
  text-indent: 30px;

    }
  
    ul li a{                       /*---------------------menue de navigation-----------css------------------------*/
  
  text-decoration: none;
  color: white;
 
  
  }

  ul li a:hover{                       /*---------------------menue de navigation-----------css------------------------*/
  
    text-decoration: none;
    color: black;
    background: orange;
    padding: 20px;
    border: 2px;
  }

  p1{

    position: absolute;
    bottom:80%;
    right: 1px;
   font-size: 20px;
   }
  
   .image2{
  
    position: absolute;
    bottom:5%;
    right: -400px;
   font-size: 20px;
  
   }
  
   .p2{
  
  position: absolute;
  bottom:80%;
  right: 55px;
  font-size: 20px;
   }
  
  
   .p3{
    position: absolute;
    bottom:0%;
    right: -170px;
    font-size: 35px;
  
  }
  
  .p5{
  
    position: absolute;
    bottom:-80%;
    right: -50px;
   font-size: 14px;
   color: gray;
  
  }